{% extends 'base.html.twig' %}

{% block title %}Details
{% endblock %}

{% block body %}

	{% include 'components/navbar.html.twig' %}

	<div class="details" style='background-image: url("{{ event.image }}");'>

		<div class="event-name">
			<h1>{{ event.name }}</h1>
		</div>

		<div class="details-content">
            <p>
				<i class='bx bxs-category' ></i>
				<span>{{ event.category }}</p>
			</p>
			<p>
				<i class='bx bx-calendar'></i>
				<span>
					<span>{{ event.dateTime ? event.dateTime|date('Y-m-d H:i:s') : '' }}</span>
				</p>
			</p>
			<p>
				<i class='bx bxs-map'></i>
				<span>{{ event.city }},
					{{ event.country }}</p>
			</p>
			<p>
				<i class='bx bx-home-heart'></i>
				<span>{{ event.streetName }}
					{{ event.streetNumber }},
					{{ event.zipcode }}</span>
			</p>
			<p>
				<i class='bx bx-link' ></i>
				<span><a href="{{ event.link }}">Go to the event's website</a>
			</p>
            <p>
				<i class='bx bxs-envelope' ></i>
				<span>{{ event.contactEmail }}</p>
			</p>
            <p>
				<i class='bx bxs-phone' ></i>
				<span>{{ event.contactPhone }}</p>
			</p>
			<p>
				<i class='bx bxs-hand-right'></i>
				<span>{{ event.description }}</span>
			</p>
            
		</div>

		<div class='detailsBotones'>
			<a class="myButton" ; href="{{ path('app_events_index') }}"><i class='bx bx-arrow-back'></i> Back</a>	
			<a class="myButton" ; href="{{ path('app_events_edit', {'id': event.id}) }}"><i class='bx bx-upload'></i> Update</a>
			{{ include('events/_delete_form.html.twig') }}
            
			

		</div>

	</div>

{% endblock %}
